<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Details</title>
    <link rel="stylesheet" th:href="@{/css/page.css}">
</head>
<body>
<div class="sidebar">
    <div class="sidebar-inner">
        <nav class="logo">
            <a th:href="@{/home}">
                <img th:src="@{/img/logo.png}" alt="logo">
            </a>
        </nav>
        <nav>
            <a th:href="@{/home}">Home</a>
        </nav>
        <nav>
            <a th:href="@{/hospitals}">Hospitals</a>
        </nav>
        <nav>
            <a th:href="@{/logout}" class="navlink_exit">Logout</a>
        </nav>
    </div>
</div>

<div class="content">
    <h2>Doctors in this Hospital</h2>

    <div th:if="${doctors.empty}">
        <p>No doctors available for this hospital.</p>
    </div>

    <div class="table-container" th:if="${!doctors.empty}">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Specialization</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="doctor : ${doctors}">
                <td th:text="${doctor.id}"></td>
                <td th:text="${doctor.name}"></td>
                <td th:text="${doctor.surname}"></td>
                <td th:text="${doctor.specialization}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="button-wrapper">
        <a th:href="@{/hospitals}" class="appointment-button back-button">Back</a>
        <a th:href="@{/appointments/new}" class="appointment-button">Make an Appointment</a>
    </div>
</div>
</body>
</html>
