<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="login-container">
    <h1>Login</h1>
    <form th:action="@{/login}" method="post">
        <div class="input-box">
            <input type="text" name="username" placeholder="Username" required>
            <box-icon type='solid' name='user'></box-icon>
        </div>

        <div class="input-box">
            <input type="password" name="password" placeholder="Password" required>
            <box-icon type='solid' name='lock-alt'></box-icon>
            <p id="error" th:if="${error}" th:text="${error}" style="color:red;"></p>
        </div>
        <button type="submit" class="btn">Login</button>
    </form>
</div>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>
</html>
