<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/core.css">
    <link rel="stylesheet" href="./css/sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-gEq46Z+Ep+0qgWUpcGZOP52NU2jmRCbnY2r8WkxM5vyE4T9IfL02YRRYvzgA/kElg1p9PZzA3L+ny1vCy2Byvg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Sidebar</title>
</head>
<body>
    <div class="sidebar">
        <div class="sidebar_inner">
            <nav class="logo">
                <a href="home.html"><img src="./img/logo.png" alt="logo"></a>
            </nav>
            <nav class="sections">
                <div class="section" id="home">
                    <a class="navlink" href="home.html">Home</a>
                </div>
                <div class="section">
                    <a class="navlink" href="hospitals.html">Hospitals</a>
                </div>
                <div class="section">
                    <div onclick="toggleSubmenu()" class="navlink" id="medical-activities">
                        <div class="activity">
                        <p>Medical activities</p>
                        <i class="fa fa-chevron-right" id="chevron"></i>
                        </div>
                    </div>
                    <div class="submenu" id="submenu">
                        <div class="subsection">
                            <a class="navlink" href="appointments.html">Appointments</a>
                        </div>
                        <div class="subsection">
                            <a class="navlink" href="">Conclusions</a>
                        </div>
                        <div class="subsection">
                            <a class="navlink" href="hospitalizations.html">Hospitalizations</a>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <a class="navlink" href="">Contacts</a>
                </div>
                <div class="section">
                    <a class="navlink" href="">About</a>
                </div>
                <div class="section_exit">
                    <a class="navlink_exit"><i class="fa fa-arrow-right"></i></a>
                </div>
            </nav>
        </div>
    </div>
</body>

<script>
    function toggleSubmenu() {
        const submenu = document.getElementById('submenu');
        const chevron = document.getElementById('chevron');
        submenu.style.display = submenu.style.display === 'block' ? 'none' : 'block';
        chevron.classList.toggle('rotated');
    }
</script>
</html>