.home {
    position: relative;
    margin-left: 350px;
}

.home_inner {
    padding-top: 20px;
}

.user {
    width: 1150px;
    text-align: end;
    align-items: end;
}

.user img {
    width: 150px;
}

.hello {
    color: #47525E;
    font-size: 25px;
    margin-left: 80px;
}

.table_text {
    color: #47525E;
    margin: 20px 0px 0px 50px;
    font-size: 23px;
}

.tableContainer {
    margin-top: 20px;
}

.table {
    width: 90%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    font-size: 20px;
}

.table td {
    font-size: 18px;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f2f2f2;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pageNumber {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}

.pageNumber:hover, .pageNumber.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}