.list {
    position: relative;
    z-index: 3;
    background-color: white;
    height: 110vh;
    padding: 20px;
}

.logo {
    width: 250px;
    background-color: #E8E8E8;
    border-radius: 30px;
    height: 150px;
}

.logo img {
    width: 250px;
}

.date {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.date p {
    margin-top: 10px;
}

.table_text {
    color: #47525E;
    margin: 20px 0px 0px 180px;
    font-size: 23px;
}

.tableContainer {
    margin-top: 20px;
}

.table {
    width: 80%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    font-size: 20px;
}

.table td {
    font-size: 18px;
}

td #button {
    align-items: center;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f2f2f2;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pageNumber {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}

.pageNumber:hover, .pageNumber.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.chooseButton {
    background-color: #13CE66;
    border: none;
    width: 150px;
    font-size: 18px;
    font-weight: 500;
    height: 35px;
    color: white;
    border-radius: 30px;
    transition: .2s;
    text-align: center;
    cursor: pointer;
    display: block;
    margin: 0 auto; 
}

.chooseButton:hover {
    cursor: pointer;
    background-color: #007bff;
}

#fourth {
    text-align: center;
}

.btn {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center;
    padding-top: 30px;
    text-align: center;
}

.btn .subsection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 30px;
    width: 100px;
    border: none;
    transition: .2s;
    height: 50px;
    background-color: #f0f0f0;
    margin: 5px;
}

.navlink {
    cursor: pointer;
    color: #47525E;
    text-decoration: none;
    transition: .2s;
    padding: 15px 25px;
    border-radius: 30px;
}

.navlink:hover {
    color: white;
}

.btn .subsection:hover {
    cursor: pointer;
    color: white;
    background-color: #5E93FF;
}
